<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <form action="/api/login" method="post" class="card">
      <label>Name</label>
      <input type="text" name="name" />
      <br/>
      <label>Password</label>
      <input type="password" name="pswd" />
      <br/>
      <button class="btn" type="submit">Login</button>
    </form>
    <a class="footer-link" href="/">Back</a>
  </div>
</body>
</html>
